/vendor/

# - IDE specific files
# Eclipse
/.project
/.settings/
/.buildpath

# Netbeans
/nbproject

# phpStorm
/.idea

*DS_Store

#App

!/var/logs/.gitkeep
/var/logs/*
/src/ParseServerMigration/Config.php
